/*INPORTAÇÃO DE FONTE DO GOOGLE*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

/*ROOT PSEUDO CLASSE PARA DEFINIR VARIAVEIS DENTRO DO CSS*/
:root{
    --azul-dnc:#0C70F2;
    --preto-dnc:#303030;
    --cinza-hover:#C9C9C9;

    --fonte-padrao:'Inter';
}

/*ZERANDO AS MAGENS E PADDING DA FOLHA TODA*/
body{
    margin: 0px;/* Margem Externa*/
    padding: 0px;/* Magen Interna*/
    background:linear-gradient(180deg ,rgb(12,112,142,0.5)19.91%, rgb(12,112,242,0)24.84%),#303030 ;
    background-repeat: no-repeat;
}

/* MENU PRINCIPAL*/
#principal{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color:var(--preto-dnc); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10x #bababa;
}

#menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;/* Trabalha o alinhamento vertical do itens*/
    margin-left: 5%;
}

#principal div a{
    font-family:var(--fonte-padrao);
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

  #principal div a:hover{
    color:var(--cinza-hover);

  }

#principal button{
    margin-right: 5%;
    background-color:var(--azul-dnc);
    border: 0px;
    height: 40px;
    width: 80px;
    font-size:20px;
    font-weight: 600;
    font-family:var(--fonte-padrao);
    color: white;
    box-shadow: 3px 2px 4px rgb(12, 112,242,0.25);
    cursor: pointer;
}

/*SEÇÃO PRINCIPAL DO SITE*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}

   header{
    color: white;
    font-family: var(--fonte-padrao);
   }

   header h1{
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 800;
    text-align: center;

    margin-bottom: 20px;
    
   }
   header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;

    margin-bottom: 100px;
   }

   header .invert{
    background-color: black;
    font-weight: bold;
    padding: 5px;
   }

